/* Linear gradient feito com a ferramente incrível de CSS chamada "gradpad" */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(113.01636920317355deg, rgba(147, 189, 216,1) 21.73773792093704%,rgba(225, 20, 139,1) 100.23792093704245%);
    width: 100%;
}

.box{
    color: white;
    position: absolute;
    top: 53%;
    left: 50%;

    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 15px;
    width: 30%;
}

/* Cor escolhida através do Adobe color */
fieldset{
    border: 3px solid #AD64F2;
}

legend{
    border: 1px solid #AD64F2;
    padding: 8px;
    text-align: center;
    background-color: #AD64F2;
    border-radius: 10px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid #AD64F2;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
    top: -20px;
    font-size: 12px;
    color: #AD64F2;
}

#data_nascimento{
    border: none;
    padding: 8px;
    border-radius: 10px;
    outline: none;
    font-size: 13px;
}

#submit{
    background-image: linear-gradient(113.01636920317355deg, rgba(147, 189, 216,1) 21.73773792093704%,rgba(225, 20, 139,1) 100.23792093704245%);
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
}

#submit:hover{
    background-image: linear-gradient(113.01636920317355deg, rgb(62, 139, 187) 21.73773792093704%,rgb(161, 13, 100) 100.23792093704245%);
}